.MainContainerCategory {
  height: 300px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.categoryMainContainer {
  height: 290px;
  width: 95%;
  margin: 5px;
  display: grid;
  grid-template-rows: 10% 40% 18% 8% 14%;
  grid-gap: 5px;
}

.categoryView-statusIcon {
  justify-self: end;
}

.imgstatusColor {
  font-size: 25px;
  color: red;
}

.categoryView-img {
  justify-self: center;
  transition: all 0.2s ease-in-out;
}

.categoryImage {
  height: 100px;
  width: 100px;
}

.categoryView-img:hover {
  transform: scale(1.1);
}

.categoryView-Info {
  display: grid;
  grid-template-rows: 45% 45%;
  grid-gap: 5px;
}

.categoryView-productName {
  justify-self: center;
  color: #0cc5b7;
}

.stockImg {
  color: #51db94;
}

.categoryview-productStockInfo {
  font-size: 12px;
  color: #9c9c9c;
}

.categoryViewInfo-Stock {
  justify-self: center;
}

.categoryView-Price {
  justify-self: center;
  margin-top: -10px;
}
