* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-gradient-primary-green {
  background-image: linear-gradient(180deg, #0e1e24 10%, #00c6b6 100%);
  background-size: cover;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.bg-custom-dark {
  background-color: #0e1e24;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  color: #fff;
}

.marginTop-10 {
  margin-top: 10px;
}
.marginTop-20 {
  margin-top: 20px;
}

.margin-10 {
  margin: 10px;
}

.margin-20 {
  margin: 20px;
}

.text-gray {
  color: #5a5c69 !important;
}

.text-700 {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 3px;
}
